*
{
    margin: 0px;
    padding: 0px;
}


/* -------Navigation Bar------- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}



/* -------------Slider------------- */
#slider
{
    width: 100%;
    margin-bottom: 50px;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color:white;
    font-size: 42px;
    font-weight: bolder;
}
.carousel-item img 
{
    width: 100%;
    height: 450px;
}



/* -----------Aboutus--------- */
.about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;

}
#about .btn
{
    margin-top: 10px;
    margin-bottom: 60px;
}
.about-content
{
    padding-top: 20px;
    text-align: justify;
}



/* --------Our Services---------- */
#services
{
    background-image: linear-gradient(rgba(0, 0, 0,0.8 ),rgba(0, 0, 0, 0.8)),url(img/light.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
.services
{
    margin-top: 40px;
}
/* Css For fontAwsm Icons */
.icon 
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
    text-align: justify;
}
.services .col-md-3:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}


/* ------Our Team------- */
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img 
{
    filter : grayscale(1);
}
.profile-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul
{
    /* padding: 15px 0; */
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* opacity: 0; */
}
.img-box ul li
{
    /* padding: 5px; */
    display: inline-block;
}
.img-box :hover ul
{
    opacity: 1;
}
.img-box ul, .img-box ul li
{
    transition: 0.5s;
}



/* -----------offers-------------- */
#fashion-brands
{
    margin-bottom: 40px;
}
.brand-logo
{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    margin: 50px auto 30px;
    box-shadow: 0 2px 40px 0 rgba(110, 130, 208,0.18);
}
.brand-logo img
{
    width: 100px;
    margin: 50px;
}
#fashion-brands p
{
    margin-top: 30px;
    font-weight: bold;
}



/* ----------Testimonial----------- */
#testimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img
{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span
{
    font-size: 12px;
    color: #333;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
.profile:hover
{
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}




/* ------------footer----------- */
.footer{
    background-color:rgb(51, 49, 49);
    height: 60px;
    text-align: center;
    padding-top: 15px;
    color:white;
}
.container3{
    background-color:rgb(95, 95, 95);
    color: white;
}
h6{
    font-size: 20px;
    color: black;
}
a{
    text-align: center;
}
.container3 a{
    color:white;
}