*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color:rgb(224, 220, 220) !important;

}


/* -------Navigation Bar------- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background:rgb(95, 95, 95);
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color:white!important;
    font-weight: 600;
    font-size: 16px;
}


/* -----------Banner---------- */
.banner
{
    background-image: url(img/fashionbanner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;
    margin-top: 20px;
}
.mainhead
{
   max-width: 500px; 
   margin-top: 80px;
   padding: 50px;
   background: #ffffff8c;
   margin-bottom: 15px;
}
.banner img
{
    width: 200px;
    height: 300px;
    margin: -100px;
    margin-top: 140px;
}



/* --------image-gallery---------- */
.gallery
{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.container
{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}
.hrline1
{
    height: 2px;
    background-color: black;
    width: 100%;
    margin-bottom: 40px !important;
}
.image-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
            'img-1 img-2 img-3 img-3'
            'img-1 img-4 img-5 img-6'
            'img-7 img-7 img-8 img-6';
}
.image-gallery a
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i
{
    color: rgba(255, 255,255,.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before
{
    opacity: 1;
}
.img-1
{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url(img/image5.jpg);
}
.img-2
{
    grid-area: img-2;
    background-image: url(img/image2.jpg);
}
.img-3
{
    grid-area: img-3;
    background-image: url(img/image3.jpg);
}
.img-4
{
    grid-area: img-4;
    background-image: url(img/image4.jpg);
}
.img-5
{
    grid-area: img-5;
    background-image: url(img/image1.jpg);
}
.img-6
{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url(img/image6.jpg);
}
.img-7
{
    grid-area: img-7;
    background-image: url(img/image7.jpg);
}
.img-8
{
    grid-area: img-8;
    background-image: url(img/image8.jpg);
}
.hrline2
{
    height: 2px;
    background-color: black;
    width: 100%;
    margin-top: 40px !important; 
}



/* --------apply media query------- */
@media screen and (max-width:900px)
{
    .image-gallery
    {
        grid-template-areas: 
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'
            'img-6 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
    }
    .image-gallery a
    {
        height: 20rem;
    }
    .img-1
    {
        min-height: 41.5rem;
    }
    .img-6
    {
        min-height: 20rem;
    }
}

@media screen and (max-width:600px)
{
    .image-gallery
    {
        grid-template-areas: 
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
    }
    .image-gallery a,
    .img-1,
    .img-6
    {
        min-height: 30rem;
        height: 30rem;
    }
}



/* ------------footer----------- */
.footer{
    background-color:rgb(51, 49, 49);
    height: 60px;
    text-align: center;
    padding-top: 15px;
    color:white;
}
.container3{
    background-color:rgb(95, 95, 95);
    color: white;
    padding: 15px;
}
h6{
    font-size: 20px;
    color: black;
}
a{
    text-align: center;
}
.container3 a{
    color:white;
}