*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(img/home-page-img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* -------Navigation Bar------- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #ff9800!important;
}
.navbar
{
    background:#00121b;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color:white!important;
    font-weight: 600;
    font-size: 16px;
}





/* --------------Banner------------ */
/* .banner-img{
	margin: 50px 80px;
	width: 90%;
}
.banner-img img{
	width: 100%;
	margin-bottom: -130px;
	height: 480px;
}
.banner{
	position: relative;
}
.banner-title{
	position: absolute;
	left: 55%;
	top: 40%;
}
.banner-title h1{
	font-size: 45px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 70px;
	padding: 0px 10px 0 10px;
} */

.carousel-item{
    /* height: 500px; */
    width: 100%;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}
.carousel-control-next-icon{
    height: 80px;
    width: 60px;
    background-color: #00121b !important;
    border-radius: 5px;
}
.carousel-control-prev-icon{
    height: 80px;
    width: 60px;
    background-color: #00121b !important;
    border-radius: 5px;
}





/* ------------fashion trends----------- */
.fashion-trends{
	padding: 100px 0;
}
.fashion-box{
	margin: 80px 0;
}
.title-style h1{
	padding: 40px 0;
}
.title-style{
	margin: 0 auto 80px;
	height: 120px;
	width: 80%;
	max-width: 700px;
	background: white;
	position: relative;
	color: #032130;
	box-shadow: 0 4px 5px 0 rgba(5, 5, 61, 0.5);
	text-shadow: 0 0 10px #ff9800;
}
.title-style::after{
	content: '';
	height: 100px;
	width: 200px;
	/* background-color: #ff9800; */
	background-image: linear-gradient(to right, #022030, #312e54, #75325c, #a74041, #ad6d10);
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1;
}
.title-style::before{
	content: '';
	height: 100px;
	width: 200px;
	/* background-color: #ff9800; */
	background-image: linear-gradient(to right, #022030, #312e54, #75325c, #a74041, #ad6d10);
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1;
}



.trending-img{
	margin-top: 50px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-top-left-radius: 100px;
}
.trending-img img{
	width: 100%;
	border-top-left-radius: 100px;
}


.btn-buy{
	width: 150px;
	padding: 10px 0;
	outline: none !important;
	border: 0;
	border-radius: 5px;
	position: absolute;
	background: rgb(236, 235, 235);
	color: #00121b;
	font-weight: bolder;
	left: 50%;
	bottom: 0;
	transform: translate(-50% , 0);
	transition: .6s;
	opacity: 0;
	z-index: 1;
}
.trending-img:hover .btn-buy{
	transform: translate(-50%,50%);
	bottom: 50%;
	opacity: 1;
	
}
.overlay{
	height: 0;
	width: 100%;
	background: #0324357e;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: 0.4s;
	border-top-left-radius: 100px;
}
.fashion-trends h2{
	text-align: center;
	color:rgb(235, 226, 226);
	/* background-color: #021a25; */
	background-image: linear-gradient(to right, #022030, #312e54, #75325c, #a74041, #ad6d10);
	padding: 5px;
	border-radius: 3px;
}
.trending-img:hover .overlay{
	opacity: 0.5;
	height: 100%;
}

@media (max-width:768px){

    .fashion-trends{
        padding: 40px 0;
    }
    .fashion-box{
        margin: 30px 0;
    }
    .title-style h1{
        padding: 20px 0;
        font-size: 30px;
    }
    .title-style{
        margin: 0 auto 60px;
        height: 80px;
        width: 80%;
        max-width: 700px;
        background: white;
        position: relative;
        color: #032130;
        box-shadow: 0 4px 5px 0 rgba(5, 5, 61, 0.5);
        text-shadow: 0 0 10px #ff9800;
    }
    .title-style::after{
        content: '';
        height: 80px;
        width: 150px;
        /* background-color: #ff9800; */
        background-image: linear-gradient(to right, #022030, #312e54, #75325c, #a74041, #ad6d10);
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
    }
    .title-style::before{
        content: '';
        height: 80px;
        width: 150px;
        /* background-color: #ff9800; */
        background-image: linear-gradient(to right, #022030, #312e54, #75325c, #a74041, #ad6d10);
        position: absolute;
        bottom: -10px;
        right: -10px;
        z-index: -1;
    }
    .col-md-4{
        margin-bottom: 40px;
    }
}





/* -----------footer--------- */
footer{
    width: 100%;
    background-color: #00121b;
    color: white;
}
.sec-1{
    width: 100%;
    padding: 20px 60px;
}
.backtotop{
    padding: 15px;
    background: #3d545f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.backtotop a{
    color: white !important;
    text-decoration: none !important;
    text-transform: uppercase;
}
.backtotop:hover{
    text-shadow: 1px 1px #ff9800;
    font-size: 20px;
}
.backtotop::before{
    content: '';
    position: absolute;
    border: 25px solid #3d545f;
    left: -35px;
    border-left-color: transparent;
}
.backtotop::after{
    content: '';
    position: absolute;
    border: 25px solid #3d545f;
    right: -35px;
    border-right-color: transparent;
}
.sec-2{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    padding: 30px 10px;
}
.about-sec{
    width: 40%;
}
.sec-2 h2{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    /* padding-bottom: 10px; */
}
.about-sec p{
    text-align: justify;
    margin-top: 10px;
    color: lightgray;
    line-height: 24px;
}
.sec-2 ul{
    list-style: none;
}
.sec-2 ul li{
    padding: 5px;
}
a{
    text-decoration: none !important;
    color: lightgray !important;
}
.sec-2 a:hover{
    color: #ff9800 !important;
}

.sec-2 h2::after{
    content: '';
    background-color: #ff9800;
    /* position: relative; */
    width: 0;
    height: 3px;
    display: block;
    transition: all .3s;
    left: 0px;
    top: -10px;
}
.sec-2 h2:hover::after{
    width: 60px;
}
span{
    color: lightgray;
}
i{
    color: lightgray;
    font-size: 20px;
    margin-right: 10px;
}
.sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.sec-3 h2{
    color: white;
    font-size: 24px;
    padding: 0px;
}
.sec-3 a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    color: lightgray;
    background-color: rgba(238, 29, 29, 0.8);
    margin: 10px;
    border-radius: 20px;
}
.sec-3 a:hover{
    background-color:#46616d;
    box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
}
hr{
    opacity: 0.2;
}
.sec-4{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.sec-4 ul{
    list-style: none;
    margin: 20px;
}
.sec-4 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #46616d;
    border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
    margin-right: 20px;
}
.sec-4 ul li i{
    color: white;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.sec-4 ul li:nth-child(1):hover{
    background-color:#3b5999;
}
.sec-4 ul li:nth-child(2):hover{
    background-color:#55acee;
}
.sec-4 ul li:nth-child(3):hover{
    background-color:#dd4b39;
}
.sec-4 ul li:nth-child(4):hover{
    background-color:#0077b5;
}
.sec-4 ul li:nth-child(5):hover{
    background-color:#2f3542;
}

.sec-5{
    width: 100%;
    padding: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #3d545f;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.copyright:hover{
    text-shadow: 1px 1px #ff9800;
    font-size: 20px;
}
.sec-5 a{
    text-decoration: none;
    color: white;
}

/* --------------First breakpoint 1000px------------ */
@media (max-width:1000px){

    .main-content{
    width: 100%;
    }
    .main-content h1{
        color: black;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    }
    .main-content p{
        color: grey;
        font-size: 20px;
        text-align: justify;
        padding: 20px;
    }
    footer{
        width: 100%;
        background-color: #00121b;
        color: white;
    }
    .sec-1{
        width: 100%;
        padding: 20px 60px;
    }
    .backtotop{
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    .backtotop a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .backtotop::before{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        left: -35px;
        border-left-color: transparent;
    }
    .backtotop::after{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        right: -35px;
        border-right-color: transparent;
    }
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .about-sec{
        width: 100%;
        margin-bottom: 20px;
    }
    .sec-2 h2{
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        /* padding-bottom: 10px; */
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: lightgray;
        line-height: 24px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
    }
    a{
        text-decoration: none;
        color: lightgray;
    }
    .sec-2 a:hover{
        color: #ff9800;
    }
    
    .sec-2 h2::after{
        content: '';
        background-color: #ff9800;
        /* position: relative; */
        width: 0;
        height: 3px;
        display: block;
        transition: all .3s;
        left: 0px;
        top: -10px;
    }
    .sec-2 h2:hover::after{
        width: 60px;
    }
    span{
        color: lightgray;
    }
    i{
        color: lightgray;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color: white;
        font-size: 24px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 25px;
        font-size: 20px;
        color: lightgray;
        background-color: rgba(238, 29, 29, 0.8);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:#46616d;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #46616d;
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 20px;
    }
    .sec-4 ul li i{
        color: white;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
    }
    .sec-4 ul li:nth-child(1):hover{
        background-color:#3b5999;
    }
    .sec-4 ul li:nth-child(2):hover{
        background-color:#55acee;
    }
    .sec-4 ul li:nth-child(3):hover{
        background-color:#dd4b39;
    }
    .sec-4 ul li:nth-child(4):hover{
        background-color:#0077b5;
    }
    .sec-4 ul li:nth-child(5):hover{
        background-color:#2f3542;
    }

    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .sec-5 a{
        text-decoration: none;
        color: white;
    }
}


/* ------------------second breakpoint------------------ */
@media (max-width: 600px){
    .main-content{
    width: 100%;
    }
    .main-content h1{
        color: black;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    }
    .main-content p{
        color: grey;
        font-size: 20px;
        text-align: justify;
        padding: 20px;
    }
    footer{
        width: 100%;
        background-color: #00121b;
        color: white;
    }
    .sec-1{
        width: 100%;
        padding: 20px 60px;
    }
    .backtotop{
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    .backtotop a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .backtotop::before{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        left: -35px;
        border-left-color: transparent;
    }
    .backtotop::after{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        right: -35px;
        border-right-color: transparent;
    }
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        padding: 20px 10px;
    }
    .about-sec{
        width: 100%;
    }
    .sec-2 h2{
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        margin-top: 10px;
        text-align: center;
    }
    .sec-2 h2:hover{
        font-size: 22px;
        transition: all 0.4s;
        cursor: pointer;
        text-shadow: 1px 1px #ff9800;
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: lightgray;
        line-height: 24px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
    }
    a{
        text-decoration: none;
        color: lightgray;
    }
    .sec-2 a:hover{
        color: #ff9800;
    }
    
    .sec-2 h2::after{
        visibility: hidden;
        z-index: -100
    }
    span{
        color: lightgray;
    }
    i{
        color: lightgray;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color: white;
        font-size: 20px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 20px;
        font-size: 15px;
        color: lightgray;
        background-color: rgba(238, 29, 29, 0.8);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:#46616d;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: #46616d;
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 10px;
    }
    .sec-4 ul li i{
        color: white;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
    }
    .sec-4 ul li:nth-child(1):hover{
        background-color:#3b5999;
    }
    .sec-4 ul li:nth-child(2):hover{
        background-color:#55acee;
    }
    .sec-4 ul li:nth-child(3):hover{
        background-color:#dd4b39;
    }
    .sec-4 ul li:nth-child(4):hover{
        background-color:#0077b5;
    }
    .sec-4 ul li:nth-child(5):hover{
        background-color:#2f3542;
    }

    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .sec-5 a{
        text-decoration: none;
        color: white;
    }
    .link-1,.link-2 , .link-3{
        text-align: center;
    }
}
