*
{
    padding: 0px;
    margin: 0px;
}
ul
{
    list-style: none;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 28px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    text-transform: uppercase;
    height: 80px;
}
ul li
{
    float: left;
}
ul li a{
    margin-top: 12px;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    text-align: center;
}
ul li a:hover
{
    background-color: black;
    color: white;
}