*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
}
.landing{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    min-height: 100vh;
}
.landing:before{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(img/light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    z-index: -1;
    animation:infinite slide 12s;
    transition: 0.5s;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}
section .line{
    width: 70%;
    margin: auto;
    
}
a.shop{
    padding: 6px 30px;
    border: 2px solid #013243 !important;
    border-radius: 20px;
    background-color: #065b7a !important;
    transition: 0.5s;
    margin-top: 20px;
}
a.shop:hover{
    background-color: white !important;
    color:#013243 !important;
}

a,p{
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none !important;
}
a.brand{
    font-size: 36px;
    font-family: cursive;
}
nav ul li a{
    padding: 6px 20px;
    border-radius: 5px;
    margin: 5px;
    transition: .5s;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #fff !important;
    color:#013243 !important;
}
section{
    text-align: center;
    width: 60vw;
    margin: auto;
}
section p{
    margin: 20px 0;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac, 0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac, 0 0 150px #ff7bac;
}
section a{
    margin-bottom: 20px;
}
section h1{
    font-size: 70px;
    text-shadow: 0 0 5px #ff7bac, 0 0 10px #ff7bac, 0 0 20px #ff7bac, 0 0 40px #ff7bac, 0 0 80px #ff7bac, 0 0 90px #ff7bac, 0 0 100px #ff7bac, 0 0 150px #ff7bac;
}
a{
    display: inline-block;
    letter-spacing: 1px;
}

@keyframes slide 
        {
            20%{
                background-image: url(img/model.jpg);
            }
            40%{
                background-image: url(img/clothe.jpg);
            }
            60%{
                background-image: url(img/makeup.jpg);
            }
            80%{
                background-image: url(img/woollen.jpg);
            }
        } 

@media(max-width:767px){

    nav{
        flex-direction:column ;
        
    }
    nav a{
        text-align: center;
        margin-bottom: 20px;
    }
    nav .right{
        justify-content: center;
    }
    nav ul {
        flex-direction:column ;
    }
    nav ul li{
        margin-bottom: 5px;
    }
    nav ul li{
        text-align: center;
    }
    section h1{
        font-size: 30px;
    }
    section p{
        font-size: 18px;
    }
}