body
{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(img/model.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation:infinite slide 10s;
}
.a1
{
    float: left;
    margin: 6px;
    width: 5%;
    padding: 10px 7px;
    display: block;
    color: black;
    background-color: cornsilk;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    border: black  solid 1px;
}
a1:hover
{
    background-color: lightblue;
}
.a2
{
    float: right;
    margin: 6px;
    width: 5%;
    padding: 10px 7px;
    display: block;
    color: black;
    background-color:cornsilk;
    border-radius: 20px;
    font-size: 15px;
    text-decoration: none;
    float: right;
    text-align: center;
}
a2:hover
{
    background-color: lightblue;
}
.name
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: crimson;
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 30%;
}
.tagline
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: crimson;
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 33%;
}
.hrline
{
    width: 60%;
    height: 1px;
    position: absolute;
    top: 60%;
    left: 22%;
    background-color: white;
}

@keyframes slide 
        {
            20%{
                background-image: url(img/model.jpg);
            }
            40%{
                background-image: url(img/clothe.jpg);
            }
            50%{
                background-image: url(img/makeup.jpg);
            }
            60%{
                background-image: url(img/woollen.jpg);
            }
            70%{
                background-image: url(img/light.jpg);
            }
            /* 80%{
                background-image: url(img/caption.jpg);
            } */
        }
