*{
    margin: 0;
    padding: 0;
    font-family:'Varela Round', sans-serif;
}
body{
    background-image: url(img/5709.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------Navigation Bar------- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #ff9800!important;
}
.navbar
{
    background:#00121b;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color:white!important;
    font-weight: 600;
    font-size: 16px;
}



/* -------------shopping cards----------- */
.product-grid{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 4px solid #fff;
    margin-top: 80px;
    border-radius: 7px;
    border-top-left-radius: 30px;
    /* margin-bottom: 80px; */
}
.product-grid:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover:before{ 
    background-color: rgba(0,0,0,0.05); 
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border-top-left-radius: 25px;
}
.product-grid .product-image a{ 
    display: block; 
}
.product-grid .product-image img{
    width: 100%;
    height: 270px;
}
.product-discount-tag{
    color: #fff;
    background-color: rgb(235, 158, 17);
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.product-discount-label{
    color: #fff;
    background-color:rgb(202, 12, 12);
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.product-grid .social{
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
.product-grid .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
}
.product-grid .social li:nth-child(2){ transition-delay: 0.05s; }
.product-grid .social li:nth-child(3){ transition-delay: 0.13s; }
.product-grid .social li:nth-child(4){ transition-delay: 0.16s; }
.product-grid:hover .social li{
    opacity: 1;
    transform: translateY(0);
}
.product-grid .social li a{
    color: #000;
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}
.product-grid .social li a:hover{
    color:black !important;
    background-color: orange;
}
.product-grid .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color:white;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.product-grid .title a{ 
    color: #000 !important; 
}
.product-grid .title a:hover{ color: #fa8231; }
.product-grid .price{
    color: #fa8231;
    font-size: 18px;
    font-weight: 600;
}
.shopicons{
    color: black;
    margin: auto;
}
.product-grid:hover{
    box-shadow: 0 0 15px 15px #00121b42;
}
@media only screen and (max-width:990px){

    .product-grid{ margin-bottom: 30px; }
    }
    .pocial
    {
    position:fixed;
    bottom:10px;
    right:10px;
    background:red;
    font-family:verdana;
    padding:5px;
    border-radius:5px;
    animation:new .5s linear infinite;
    margin-top:-50px;
    }
    .pocial a
    {
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    }

    @keyframes new
    {
    0%
    {
        transform:scaleX(1);
    }
    50%
    {
        transform:scaleX(.95);
    }
    100%
    {
        transform:scaleX(1);
    }
}

@media (max-width:575px){
    .product-grid .product-image img{
        width: 100%;
        height: 360px;
    }
}






/* -----------footer--------- */
footer{
    width: 100%;
    background-color: #00121b;
    color: white;
}
.sec-1{
    width: 100%;
    padding: 20px 60px;
}
.backtotop{
    padding: 15px;
    background: #3d545f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.backtotop a{
    color: white !important;
    text-decoration: none !important;
    text-transform: uppercase;
}
.backtotop:hover{
    text-shadow: 1px 1px #ff9800;
    font-size: 20px;
}
.backtotop::before{
    content: '';
    position: absolute;
    border: 25px solid #3d545f;
    left: -35px;
    border-left-color: transparent;
}
.backtotop::after{
    content: '';
    position: absolute;
    border: 25px solid #3d545f;
    right: -35px;
    border-right-color: transparent;
}
.sec-2{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    padding: 30px 10px;
}
.about-sec{
    width: 40%;
}
.sec-2 h2{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    /* padding-bottom: 10px; */
}
.about-sec p{
    text-align: justify;
    margin-top: 10px;
    color: lightgray;
    line-height: 24px;
}
.sec-2 ul{
    list-style: none;
}
.sec-2 ul li{
    padding: 5px;
}
a{
    text-decoration: none !important;
    color: lightgray !important;
}
.sec-2 a:hover{
    color: #ff9800 !important;
}

.sec-2 h2::after{
    content: '';
    background-color: #ff9800;
    /* position: relative; */
    width: 0;
    height: 3px;
    display: block;
    transition: all .3s;
    left: 0px;
    top: -10px;
}
.sec-2 h2:hover::after{
    width: 60px;
}
span{
    color: lightgray;
}
i{
    color: lightgray;
    font-size: 20px;
    margin-right: 10px;
}
.sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.sec-3 h2{
    color: white;
    font-size: 24px;
    padding: 0px;
}
.sec-3 a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
    color: lightgray;
    background-color: rgba(238, 29, 29, 0.8);
    margin: 10px;
    border-radius: 20px;
}
.sec-3 a:hover{
    background-color:#46616d;
    box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
}
hr{
    opacity: 0.2;
}
.sec-4{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.sec-4 ul{
    list-style: none;
    margin: 20px;
}
.sec-4 ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #46616d;
    border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
    margin-right: 20px;
}
.sec-4 ul li i{
    color: white;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.sec-4 ul li:nth-child(1):hover{
    background-color:#3b5999;
}
.sec-4 ul li:nth-child(2):hover{
    background-color:#55acee;
}
.sec-4 ul li:nth-child(3):hover{
    background-color:#dd4b39;
}
.sec-4 ul li:nth-child(4):hover{
    background-color:#0077b5;
}
.sec-4 ul li:nth-child(5):hover{
    background-color:#2f3542;
}

.sec-5{
    width: 100%;
    padding: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #3d545f;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.copyright:hover{
    text-shadow: 1px 1px #ff9800;
    font-size: 20px;
}
.sec-5 a{
    text-decoration: none;
    color: white;
}

/* --------------First breakpoint 1000px------------ */
@media (max-width:1000px){

    .main-content{
    width: 100%;
    }
    .main-content h1{
        color: black;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    }
    .main-content p{
        color: grey;
        font-size: 20px;
        text-align: justify;
        padding: 20px;
    }
    footer{
        width: 100%;
        background-color: #00121b;
        color: white;
    }
    .sec-1{
        width: 100%;
        padding: 20px 60px;
    }
    .backtotop{
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    .backtotop a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .backtotop::before{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        left: -35px;
        border-left-color: transparent;
    }
    .backtotop::after{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        right: -35px;
        border-right-color: transparent;
    }
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
    .about-sec{
        width: 100%;
        margin-bottom: 20px;
    }
    .sec-2 h2{
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        /* padding-bottom: 10px; */
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: lightgray;
        line-height: 24px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
    }
    a{
        text-decoration: none;
        color: lightgray;
    }
    .sec-2 a:hover{
        color: #ff9800;
    }
    
    .sec-2 h2::after{
        content: '';
        background-color: #ff9800;
        /* position: relative; */
        width: 0;
        height: 3px;
        display: block;
        transition: all .3s;
        left: 0px;
        top: -10px;
    }
    .sec-2 h2:hover::after{
        width: 60px;
    }
    span{
        color: lightgray;
    }
    i{
        color: lightgray;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color: white;
        font-size: 24px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 25px;
        font-size: 20px;
        color: lightgray;
        background-color: rgba(238, 29, 29, 0.8);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:#46616d;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #46616d;
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 20px;
    }
    .sec-4 ul li i{
        color: white;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
    }
    .sec-4 ul li:nth-child(1):hover{
        background-color:#3b5999;
    }
    .sec-4 ul li:nth-child(2):hover{
        background-color:#55acee;
    }
    .sec-4 ul li:nth-child(3):hover{
        background-color:#dd4b39;
    }
    .sec-4 ul li:nth-child(4):hover{
        background-color:#0077b5;
    }
    .sec-4 ul li:nth-child(5):hover{
        background-color:#2f3542;
    }

    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .sec-5 a{
        text-decoration: none;
        color: white;
    }
}


/* ------------------second breakpoint------------------ */
@media (max-width: 600px){
    .main-content{
    width: 100%;
    }
    .main-content h1{
        color: black;
        font-size: 40px;
        text-align: center;
        letter-spacing: 1px;
    }
    .main-content p{
        color: grey;
        font-size: 20px;
        text-align: justify;
        padding: 20px;
    }
    footer{
        width: 100%;
        background-color: #00121b;
        color: white;
    }
    .sec-1{
        width: 100%;
        padding: 20px 60px;
    }
    .backtotop{
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        position: relative;
    }
    .backtotop a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .backtotop::before{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        left: -35px;
        border-left-color: transparent;
    }
    .backtotop::after{
        content: '';
        position: absolute;
        border: 25px solid #3d545f;
        right: -35px;
        border-right-color: transparent;
    }
    .sec-2{
        display: flex;
        justify-content: space-between ;
        flex-direction: column;
        padding: 20px 10px;
    }
    .about-sec{
        width: 100%;
    }
    .sec-2 h2{
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        margin-top: 10px;
        text-align: center;
    }
    .sec-2 h2:hover{
        font-size: 22px;
        transition: all 0.4s;
        cursor: pointer;
        text-shadow: 1px 1px #ff9800;
    }
    .about-sec p{
        text-align: justify;
        margin-top: 10px;
        color: lightgray;
        line-height: 24px;
    }
    .sec-2 ul{
        list-style: none;
    }
    .sec-2 ul li{
        padding: 5px;
    }
    a{
        text-decoration: none;
        color: lightgray;
    }
    .sec-2 a:hover{
        color: #ff9800;
    }
    
    .sec-2 h2::after{
        visibility: hidden;
        z-index: -100
    }
    span{
        color: lightgray;
    }
    i{
        color: lightgray;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .sec-3 h2{
        color: white;
        font-size: 20px;
        padding: 0px;
    }
    .sec-3 a{
        display: inline-block;
        padding: 10px 20px;
        font-size: 15px;
        color: lightgray;
        background-color: rgba(238, 29, 29, 0.8);
        margin: 10px;
        border-radius: 20px;
    }
    .sec-3 a:hover{
        background-color:#46616d;
        box-shadow: 0px 0px 4px 0px rgb(122, 120, 120);
    }
    hr{
        opacity: 0.2;
    }
    .sec-4{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .sec-4 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-4 ul li{
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: #46616d;
        border-radius: 50% 50% 50% 70% / 50% 50% 70% 60%;
        margin-right: 10px;
    }
    .sec-4 ul li i{
        color: white;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
    }
    .sec-4 ul li:nth-child(1):hover{
        background-color:#3b5999;
    }
    .sec-4 ul li:nth-child(2):hover{
        background-color:#55acee;
    }
    .sec-4 ul li:nth-child(3):hover{
        background-color:#dd4b39;
    }
    .sec-4 ul li:nth-child(4):hover{
        background-color:#0077b5;
    }
    .sec-4 ul li:nth-child(5):hover{
        background-color:#2f3542;
    }

    .sec-5{
        width: 100%;
        padding: 20px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 15px;
        background: #3d545f;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .sec-5 a{
        text-decoration: none;
        color: white;
    }
    .link-1,.link-2 , .link-3{
        text-align: center;
    }
}
